html{
  scroll-behavior:smooth;
  background-color:#FFFDFD;
}
.App {
  text-align: center;
}

button{
  cursor:pointer;
  padding:7px;
  letter-spacing:0.04em;
  margin:10px;
  border-radius:7%;
}

button.reconcile:hover{
  color:white;
  background-color:green;
}

h2,h4{
  text-align :center;
  text-transform: uppercase;
}
span{
  letter-spacing:0.06em;
  margin:8px;
}

table#input-table{
  text-align:center;
  justify-self:center;
}
td,tr{
  padding:8px;
}
div.table-area{
  width:75%;
  justify-self:center;
}
.close-icon{
  float:right;
  margin-right:45px;
  margin-bottom:20px;
}
.close-icon:hover{
  color:red;
}
.downloadIcon{
  margin-left: 15px;
}
.downloadIcon:hover{
  color:green;
}